


.project{
    background: var(--project-bg);
    display: grid;
    grid-template-columns: 50% 10% 30% 10%;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: ease 0.3s;
}

.project:not(:first-child)::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--separator-strong);
    pointer-events: none;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5px;
}

.project:hover{
    background: var(--project-hover-bg);
}

.data{
    display: flex;
    align-items: center;
    min-width: 50%;
    justify-content: space-between;
}

.name{
    overflow-x: hidden;
    margin: 0;
    padding: 5px;
    text-overflow: ellipsis;
    color: var(--project-text);
    white-space: nowrap;
    text-align: start;
    font-size: 12pt;
}

.p{
    margin: 0;
    font-size: 70%;
    text-align: start;
    padding-left: 3px;
    min-width: 80%;
    color: var(--project-info-text);
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: ease 0.3;
}

.name + .data {
    border-left: solid var(--separator-strong) 2px;
}

.options{
    color: transparent;
    background: transparent;
    border: 0;
    padding: 1px;
    width: 1.6rem;
    height: 1.6rem;
    transition: ease 0.3s;
    justify-items: center;
    border-radius: 100%;
}

.project:hover .options{
    background: transparent;
    color: var(--project-title);
}
 
.project:hover .options:hover{
    color: var(--project-title);
    background: rgb(from black r g b / 20%);
}

.select{
    background: var(--bg-tertiary);
    color: var(--fg-tertiary);
    font-weight: 600;
    font-size: 14px;
    padding: 6px 10px;
    border: 2px solid var(--separator);
    border-radius: 12px;
}

@media only screen and (max-height: 400px), only screen and (max-width: 650px)  {
    .p{
        font-size: 60%;
    }
}
