.titleBar{
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-secondary);
    box-shadow: var(--accent-primary) -90vw -5px 45px 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: var(--fg-primary)
}

.title{
    align-self: center;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: var(--btn-secondary-text);
    transition: ease .3s;
}

.backButton svg{
    align-self: center;
    width: 20px;
    height: 20px;
}

.backButton:hover{
    background: var(--btn-primary-hover);
    color: var(--btn-primary-text);
}

.titleBarButtons{
    display: inline-flex;
    align-items: center;
    margin-right: 4px;
    height: 100%;
    gap: 6px;
}

.titleBarButtons .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    padding: 0;
    width: 24px;
    height: 24px;
    color: var(--btn-secondary-text);
    transition: ease .3s;
}

.titleBarButtons .button:hover{
    background: var(--btn-primary-hover);
    color: var(--btn-primary-text);
}

.titleBarButtons svg{
    align-self: center;
    width: 20px;
    height: 20px;
}

.fileActions{
    display: flex;
    align-items: center;
    gap: 5px;
}

.fileActions::after{
    flex: 1;
    content: "";
    background: var(--separator-strong);
    padding: 10px 1px;
    border-radius: 5px;
}

.logo{
    width: 1rem;
    height: 1rem;
    padding: 0 5px 0 2px;
}

.logotitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
}

.projectName{
    display: flex;
    align-items: center;
    font-size: small;
    color: var(--fg-secondary);
}

.misc{
    display: flex;
    align-items: center;
}

.misc::after{
    flex: 1;
    content: "";
    background: var(--separator-strong);
    padding: 10px 1px;
    border-radius: 5px;
    margin-left: 5px;
}

.misc * + *{
    margin-left: 3px;
}

.projectDot{
    font-size: 24px;
    color: var(--accent-secondary);
    padding-left: 5px;
}
