.main{
    display: grid;
    grid-template-columns: 70px auto;
    height: calc(100% - 30px);
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.button{
    border: 0px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    background: rgb(49, 49, 49);
    border-radius: 10px;
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    box-shadow: rgb(32, 32, 32) 0px 2px 5px 0.5px;
   
}

.button:hover{
    background: rgb(65, 44, 44);
    color: rgb(236, 157, 157);
}

.textData{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: rgb(105, 105, 105);
    margin: auto 0px 10px 0px;
}

.editor{
    padding: 10px;
    resize: none;
    max-width: 100%;
    word-break: break-word;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(53, 53, 53);
    font-weight: 400;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.editor::-webkit-scrollbar{
    display: none;
}

.editor:focus{
    outline: none;
}

*::selection{
    background: rgb(97, 97, 97);
}