*{
    padding: 0;
    margin: 0;
}

.main{
    display: grid;
    grid-template-columns: 70px auto;
    height: calc(100% - 30px);
    background: var(--bg-primary);
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    background: var(--bg-secondary);
    width: 100%;
}

.button{
    border: 0px;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    background: var(--btn-tertiary-bg);
    border-radius: 10px;
    color: var(--fg-tertiary);
    font-size: 15px;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    box-shadow: var(--accent-secondary) 0px 0px 5px;
    z-index: 10;
}

.button:hover{
    background: var(--btn-tertiary-hover);
    color: var(--btn-tertiary-text);
}

.textData{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: var(--fg-muted);
    margin: auto 0px 10px 0px;
}

.container{
    background: var(--bg-tertiary);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 0px;
    scrollbar-width: 6px;
    scrollbar-color: var(--bg-secondary);
    position: relative;
    z-index: 10;
}

.container::-webkit-scrollbar{
    width: 6px;
}

.container::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--accent-primary);
}

.container::-webkit-scrollbar-track{
    margin: 3px;
}

.editor{
    padding: 5px;
    resize: none;
    word-break: break-word;
    font-weight: 400;
    height: calc(100% - 30px);
    color: var(--fg-secondary);
}

.editor::-webkit-scrollbar{
    display: none;
}

.editor:focus{
    outline: none;
}

*::selection{
    background: rgb(from var(--accent-primary) r g b / 35%);
}