*{
    padding: 0;
    margin: 0;
}

.main{
    display: grid;
    grid-template-columns: 50px auto;
    height: calc(100% - 30px);
    background: var(--bg-primary);
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    background: var(--bg-secondary);
    width: 100%;
}

.container{
    background: var(--bg-tertiary);
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    margin-right: 0px;
    scrollbar-width: 6px;
    scrollbar-color: var(--bg-secondary);
    position: relative;
    z-index: 10;
}

.container::-webkit-scrollbar{
    width: 6px;
}

.container::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--accent-primary);
}

.container::-webkit-scrollbar-track{
    margin: 3px;
}

.editor{
    resize: none;
    height: calc(100% - 30px);
    color: var(--fg-secondary);
}

.editor::-webkit-scrollbar{
    display: none;
}

.editor:focus{
    outline: none;
}

*::selection{
    background: rgb(from var(--accent-primary) r g b / 30%);
}
