.container{
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    height: calc(100% - 30px);
}

.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoBox p{
    padding: 10px;
    margin: 0;
    font-size: 3.8vmin;
    color: rgb(201, 201, 201);
}

.title{
    margin: 0;
    padding: 0;
    font-size: 6.8vmin;
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 20px 0px;
    background: rgb(53, 53, 53);
    border-radius: 15px 0px 0px 15px;
    box-shadow: rgb(32, 32, 32) 0px 1px 10px 1px;
    color: gray;
}

.button{
    border: 0px;
    background: rgb(49, 49, 49);
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 15px;
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    transition: ease 0.3s;
}

.button:hover{
    background: rgb(65, 44, 44);
    color: rgb(236, 157, 157);
}

.listField{
    display: grid;
    grid-template-rows: 2.6rem;
    background: rgb(45, 45, 45);
    padding: 5px;
    width: 80%;
    border-radius: 15px;
    transition: ease 0.3s;
}

.listField h2{
    margin: 0;
    padding: 5px 0px 5px 0px;
}

.list{
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 10px;
    max-height: 8rem;
    transition: ease 0.3s;
}

.noProjectsMessage {
    text-align: center;
    color: #888;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.shadow{
    position: fixed;
    background: rgb(0, 0, 0);
    bottom: 30px;

    margin: -30px;
    width: 160px;
    box-shadow: rgb(134, 0, 0) 0px 0px 100px 10px;
    rotate: 30deg;
}

.settings{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
}

@media only screen and (min-height: 300px) {
    .listField{
        max-height: 15rem;
    }
    .list{
        max-height: 8rem;
    }
}

@media only screen and (min-height: 400px) {
    .listField{
        max-height: 16rem;
    }
    .list{
        max-height: 13.4rem;
    }
}

@media only screen and (min-height: 500px) {
    .listField{
        max-height: 24rem;
    }
    .list{
        max-height: 21.4rem;
    }
}

@media only screen and (min-height: 800px) {
    .listField{
        max-height: 34.8rem;
    }
    .list{
        max-height: 32.2rem;
    }
}

@media only screen and (min-height: 1000px) {
    .listField{
        max-height: 42.8rem;
    }
    .list{
        max-height: 40.2rem;
    }
}

@media only screen and (min-height: 700px), only screen and (min-width: 1100px)  {
    .button{
        font-size: 24px;
    }
}