.container{
    display: grid;
    grid-template-columns: 40% 60%;
    text-align: center;
    height: calc(100% - 30px);
    background: var(--bg-secondary);
}

.infoBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoBox p{
    padding: 10px;
    margin: 0;
    font-size: 3.8vmin;
    color: var(--fg-tertiary);
}

.title{
    margin: 0;
    padding: 0;
    font-size: 6.8vmin;
    color: var(--fg-primary);
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 20px 0px;
    background: var(--bg-primary);
    border-radius: 15px 0px 0px 15px;
    box-shadow: var(--accent-primary) 0px 0px 10px 1px;
    color: var(--fg-secondary);
    z-index: 2;
}

.buttons{
    display: flex;
    align-items: center;
}

.button{
    border: 0px;
    background: var(--btn-primary-bg);
    padding: 10px 20px 10px 20px;
    margin: 5px;
    border-radius: 15px;
    color: var(--btn-primary-text);
    font-size: 13px;
    font-weight: 700;
    transition: ease 0.3s;
}

.button:hover{
    background: var(--btn-primary-hover);
    color: var(--btn-primary-text);
}

.import{
    display: flex;
    border: 0px;
    padding: 0;
    background:  rgb(from  var(--btn-primary-bg) r g b / 50%);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--btn-secondary-text);
    height: 24px;
    width: 24px;
    transition: ease 0.3s;
}

.import svg{
    height: 20px;
    width: 20px;
}

.import:hover{
    background: rgb(from  var(--btn-primary-hover) r g b / 50%);
    color: var(--btn-primary-text);
}

.noProjectsMessage {
    text-align: center;
    color: var(--fg-secondary);
    font-size: 1.2rem;
    margin-top: 1rem;
}

.shadow{
    position: fixed;
    background: rgb(0, 0, 0);
    bottom: 30px;

    margin: -30px;
    width: 160px;
    box-shadow: var(--accent-primary) 0px 0px 100px 10px;
    rotate: 30deg;
}

.settings{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 5px;
}