

.project + .project{
    border-top: solid var(--separator) 1px;
}

.project{
    background: var(--project-bg);
    display: grid;
    grid-template-columns: 50% 40% 10%;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    transition: ease 0.3s;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.project:hover{
    background: var(--project-hover-bg);
}

.data{
    display: flex;
    align-items: center;
    min-width: 50%;
    justify-content: space-between;
}

.name{
    overflow-x: hidden;
    margin: 0;
    padding: 5px;
    text-overflow: ellipsis;
    color: var(--project-text);
    white-space: nowrap;
    text-align: start;
}

.p{
    margin: 0;
    font-size: 70%;
    text-align: start;
    padding-left: 3px;
    min-width: 80%;
    color: var(--project-info-text);
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: ease 0.3;
}

.name + .data {
    border-left: solid var(--separator) 2px;
}

.options{
    color: transparent;
    background: transparent;
    border: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    transition: ease 0.3s;
    justify-items: center;
}

.project:hover .options{
    background: transparent;
    color: rgb(from var(--project-hover-text) r g b / 50%);
}

.project:hover .options:hover{
    color: var(--project-hover-text);
    background: var(--project-active-bg);
}

@media only screen and (max-height: 400px), only screen and (max-width: 650px)  {
    .p{
        font-size: 60%;
    }
}