.project:last-child{
    border-radius: 0px 0px 10px 10px;
}

.project:first-child{
    border-radius: 10px 10px 0px 0px;
}

.project:only-child{
    border-radius: 10px;
}

.project + .project{
    border-top: solid rgba(255, 188, 188, 0.3) 1px;
}

.project{
    background: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: 50% 40% 10%;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    transition: ease 0.3s;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.project:hover{
    background: rgb(65, 44, 44);
    color: rgb(236, 157, 157);
}

.data{
    display: flex;
    align-items: center;
    min-width: 50%;
    justify-content: space-between;
}

.name{
    overflow-x: hidden;
    margin: 0;
    padding: 5px;
    text-overflow: ellipsis;
    color: rgb(255, 174, 174);
    white-space: nowrap;
}

.p{
    margin: 0;
    font-size: 70%;
    text-align: start;
    padding-left: 3px;
    min-width: 80%;
    color: rgb(140, 140, 140);
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name + .data {
    border-left: solid rgb(90, 90, 90) 2px;
}

.delete{
    color: transparent;
    border: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    transition: ease 0.3s;
    justify-items: center;
}

.project:hover .delete{
    background: rgb(65, 44, 44);
    color: rgb(75, 75, 75);
}

.project:hover .delete:hover{
    color: rgb(119, 119, 119);
}

@media only screen and (max-height: 400px), only screen and (max-width: 650px)  {
    .p{
        font-size: 60%;
    }
}