.project:last-child{
    border-radius: 0px 0px 10px 10px;
}

.project:nth-child(2){
    border-radius: 10px 10px 0px 0px;
}

.project + .project{
    border-top: solid rgba(255, 188, 188, 0.3) 1px;
}

.project{
    display: flex;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.project:hover{
    background: rgb(65, 44, 44);
    color: rgb(236, 157, 157);
}

.project h3,p{
    margin: 0;
}

.project h3{
    padding: 5px;
}

