.box{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(77, 77, 77);
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
}

.divider{
    padding: 0;
    margin: 5px;
    display: flex;
    background: rgb(99, 99, 99);
    height: 2px;
    width: 100%;
    z-index: 10;
}

.top{
    border: 0px;
    padding: 0px 0px 2px 0px;
    margin: 0px 1px 0px 0px;
    max-height: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: scroll;
    border-radius: 10px;
}

.top::-webkit-scrollbar{
    width: 6px;
}

.top::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: rgb(99, 99, 99);
}

.top::-webkit-scrollbar-track{
    margin: 3px;
}

.bottom{
    border: 0px;
    padding: 0px;
    margin: 0px;
    padding: 0px 0px 2px 0px;
    max-height: 2rem;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.button{
    border: 0px;
    padding: 0px;
    margin: 0;
    background: rgb(49, 49, 49);
    border-radius: 10px;
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
    box-shadow: rgb(32, 32, 32) 0px 1px 3px 0.1px;
}

.button + .button{
    margin-left: 5px;
}

.button:hover{
    background: rgb(65, 44, 44);
    color: rgb(236, 157, 157);
}

.color{
    border: none;
    background: rgb(49, 49, 49);
    color: rgb(255, 188, 188);
    border-radius: 10px;
    padding: 5px;
    height: 2rem;
    width: 2rem;
    box-shadow: rgb(32, 32, 32) 0px 1px 5px 0.1px;
}

.color::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
    padding: 0;
}
.color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}

.headers{
    border: 0px;
    padding: 0px 2px;
    background: rgb(49, 49, 49);
    border-radius: 10px;
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    height: 2rem;
    width: 2.8rem;
    box-shadow: rgb(32, 32, 32) 0px 1px 5px 0.1px;
}

.headers option{
    border: 0px;
    padding: 0px 8px;
    background: rgb(49, 49, 49);
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgb(32, 32, 32) 0px 1px 5px 0.1px;
}

.headers:focus{
    outline: none;
}

.fontSizes{
    border: 0px;
    padding: 0px 2px;
    background: rgb(49, 49, 49);
    border-radius: 10px;
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    height: 2rem;
    width: 3.6rem;
    box-shadow: rgb(32, 32, 32) 0px 1px 5px 0.1px;
}

.fontSizes option{
    border: 0px;
    padding: 0px 8px;
    background: rgb(49, 49, 49);
    color: rgb(255, 188, 188);
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgb(32, 32, 32) 0px 1px 5px 0.1px;
}

.fontSizes:focus{
    outline: none;
}