.wrapper{
    position: relative;
    display: inline-flex;
    z-index: 20;
}

.icon{
    display: flex;
    height: 24px;
    width: 24px;
    background: none;
    border: none;
    border-radius: 6px;
    padding: 0;
    align-items: center;
    justify-content: center;
    color: var(--btn-secondary-text);
    transition: ease .3s;
}

.icon svg{
    height: 20px;
    width: 20px;
}

.icon:hover{
    background: var(--btn-primary-hover);
    color: var(--btn-primary-text);
}

.body{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 50%;
    margin-top: 6px;
    transform: translate(-50%, 4px);
    width: 140px;
    padding: 5px 8px;
    background: var(--bg-primary);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .15s ease, transform .15s ease, visibility .15s ease;
    z-index: 999;
}

.body p{
    padding: 0;
    margin: 0;
}

.wrapper:hover .body{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
    visibility: visible;
}
