.box{
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-primary);
    padding: 5px;
    border-radius: 15px;
    z-index: 100;
}

.divider{
    padding: 0;
    margin: 5px;
    display: flex;
    background: var(--separator);
    height: 2px;
    width: 100%;
    z-index: 10;
}

.top{
    border: 0px;
    padding: 0px 5px 0px 0px;
    margin: 0px 0px 0px 0px;
    max-height: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: scroll;
    border-radius: 10px;
}

.top::-webkit-scrollbar{
    width: 6px;
}

.top::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: var(--bg-tertiary);
}

.top::-webkit-scrollbar-track{
    margin: 3px;
}

.bottom{
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-height: 2rem;
    display: flex;
    width: 100%;
    gap: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    padding: 0px;
    margin: 0;
    background: var(--btn-tertiary-bg);
    border-radius: 10px;
    color: var(--btn-tertiary-text);
    font-size: 15px;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
}

.button.active {
    background: rgb(from var(--btn-primary-bg) r g b / 50%);
    color: var(--btn-primary-text);
}

.button:hover {
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
}

.alignments, .styles{
    display: flex;
    gap: 5px;
}



.color{
    border: none;
    background: var(--btn-tertiary-bg);
    color: var(--btn-tertiary-text);
    border-radius: 10px;
    padding: 5px;
    height: 2rem;
    width: 2rem;
}

.color::-webkit-color-swatch {
    border: none;
    border-radius: 5px;
    padding: 0;
}
.color::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
}